@import "./mixins.scss";

body{
@include body;
}

//header//
header{
  background: black;
  color: white;
  font-size: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .header__logo {
    display: inline-block;
    width: 17%;
    font-family: futura, sans-serif;
    padding: 10px;
    box-sizing: border-box;
    font-size: 28px;
    font-weight: 900px;
    vertical-align: middle;
  }

  .header__menu {
    width: 70%;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
  }

  .header__menu-element {
    display: inline-block;
    width: 25%;
    font-size: 18px;
    text-align: center;
    font-family: futura, sans-serif;
  }
}
